//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================
@font-face {
	font-family: 'Mpfdintextcondpro-medium';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/pfdintextcondpro-medium.eot');
	src: local('☺'), url('/fonts/pfdintextcondpro-medium.woff') format('woff'), url('/fonts/pfdintextcondpro-medium.ttf') format('truetype'), url('/fonts/pfdintextcondpro-medium.svg') format('svg');
}

@font-face {
	font-family: 'Mpfdintextcondpro-regular';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/pfdintextcondpro-regular.eot');
	src: local('☺'), url('/fonts/pfdintextcondpro-regular.woff') format('woff'), url('/fonts/pfdintextcondpro-regular.ttf') format('truetype'), url('/fonts/pfdintextcondpro-regular.svg') format('svg');
}

@font-face {
	font-family: 'nomad';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/Copyright\ \(C\)\ H&Co\ \ typography.com.eot');
	src: local('☺'), url('/fonts/Copyright\ \(C\)\ H&Co\ \ typography.com.woff') format('woff'), url('/fonts/Copyright\ \(C\)\ H&Co\ \ typography.com.ttf') format('truetype'), url('/fonts/Copyright\ \(C\)\ H&Co\ \ typography.com.svg') format('svg');
}



//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

body {
	background-color: #eeeeee;
	color: #000;
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	&.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 15px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-sreen {
	flex: 1 0 100%;
}

.main-screen {
	position: relative;

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.main-screen {

	&__scroll {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 85%;
		right: 50%;
		animation: mouse 1.4s infinite linear alternate;
		cursor: pointer;
	}

	@keyframes mouse {
		0% {
			top: 85%;
		}

		50% {
			top: 87%;
		}

		100% {
			top: 89%
		}
	}
}

.scroll {

	@media (max-width:1024px) {
		display: none;
	}

	@media (max-width:767px) {
		display: none;
	}

	&__mouse {
		width: 20px;
		height: 20px;

		img {
			width: 100%;

		}
	}

	&__arrow {
		margin: 5px 0px 0px 0px;
		width: 30px;
		height: 30px;

		img {
			width: 100%;
		}
	}
}


.slogan {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 200px;
	text-align: center;


	&__tittle {
		color: white;
		font-size: 40px;
		font-family: 'nomad';
	}

	&__text {
		color: white;
		font-size: 30px;
		font-family: 'nomad';

	}
}




.content {
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: column;
	color: #737070;


	&__tittle {
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
		font-family: 'nomad';

		@media (max-width:767px) {
			font-size: 27px;
		}
	}

	&__text {
		font-family: 'nomad';
		font-size: 18px;
		text-align: justify;
		line-height: 1.6;
		text-indent: 30px;
	}
}




//====================================================================================================


.conception {
	color: #737070;
	padding: 70px 0px 0px 0px;



	&__tittle {
		font-family: 'nomad';
		text-align: center;
		font-size: 27px;
		text-transform: uppercase;

	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	&__item {
		width: 320px;
		min-height: 500px;
		box-shadow: 0 0 4px #999;
		margin: 20px 30px;
		display: flex;
		flex-direction: column;

		@media (max-width:991px) {
			width: 315px;
		}
	}
}

.item {




	&__img {
		padding: 150px;
		margin: 0px 0px 20px 0px;
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;

		&:hover {
			-webkit-transform: scale(1.02);
			-moz-transform: scale(1.02);
			-o-transform: scale(1.02);
		}

		@media (max-width:767px) {
			-moz-transition: none;
			-o-transition: none;
			-webkit-transition: none;

			&:hover {
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
			}
		}


	}

	&__tittle {
		font-family: 'nomad';
		font-size: 20px;
		margin: 0px 0px 10px 10px;

	}

	&__descr {
		font-family: 'nomad';
		margin: 0px 10px 0px 10px;
		flex: 1 0 auto;
		font-size: 15px;

	}

	&__more {
		font-family: 'nomad';
		margin: 0px 0px 10px 10px;
		color: #737070;
		text-decoration: underline;
		font-size: 15px;







	}
}


.pageup {
	display: block;
	position: fixed;
	width: 30px;
	height: 30px;
	bottom: 40px;
	right: 40px;

	@media (max-width:767px) {
		display: none;
	}



	img {
		@media (max-width:767px) {
			display: none;
		}

		width: 100%
	}

}




//</ОСНОВНОЙ БЛОК>====================================================================================================