//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================





@font-face {
	font-family: 'hel';
	font-weight: normal;
	font-style: normal;

	src: local('☺'), url('/fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'), url('/fonts/Montserrat-Thin.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}





//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

html {
	height: 100%;
}

body {
	background-color: #eeeeee;
	color: #000;
	font-size: 14px;
	height: 100%;

	&.lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	&.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 15px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	/* 	position: absolute;
 */
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-sreen {
	flex: 1 0 100%;
}

.main-screen {
	position: relative;

	&__img {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		@media (max-width:768px) {
			display: flex;
		}

	}
}





.slogan {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 200px;
	text-align: center;


	&__tittle {
		color: white;
		font-size: 40px;
		font-family: 'hel';
	}

	&__text {
		color: white;
		font-size: 30px;
		font-family: 'hel';

	}
}




.content {
	padding: 70px 0px 70px 0px;
	display: flex;
	flex-direction: column;
	color: #737070;


	&__tittle {
		text-align: center;
		font-size: 30px;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
		font-family: 'hel';

		@media (max-width:768px) {
			font-size: 27px;
		}
	}

	&__text {
		font-family: 'hel';
		font-size: 18px;
		text-align: justify;
		line-height: 1.6;
		text-indent: 30px;
	}


}




//====================================================================================================

.video-bg {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}




	&__scroll {
		z-index: 10000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 50%;
		animation: mouse 1.4s infinite linear alternate;
		cursor: pointer;
	}

	@keyframes mouse {
		0% {
			top: 85%;
		}

		50% {
			top: 87%;
		}

		100% {
			top: 89%
		}
	}


	.scroll {

		@media (max-width:1024px) {
			display: none;
		}

		@media (max-width:768px) {
			display: none;
		}

		&__mouse {
			width: 20px;
			height: 20px;

			img {
				width: 100%;

			}
		}

		&__arrow {
			margin: 5px 0px 0px 0px;
			width: 20px;
			height: 20px;
			transform: rotate(180deg);

			img {
				width: 100%;
			}
		}
	}
}

.video-bg video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	object-fit: cover;



}


.video-bg {

	&__full {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100vh;
		object-fit: cover;

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.6);
		}
	}



}

@media (max-width:1024px) {
	.video-bg img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}

}




.video-bg__content {
	z-index: 2;
	color: #ffffff;
	font-size: 36px;
	text-align: center;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.0);
	}

	h1 {
		font-family: "hel";
		position: relative;
		z-index: 3;

	}
}

//====================================================================================================


.about {
	background-color: #0d0d0e;
	display: none;
	color: white;
	padding-top: 53px;

	@media (max-width:1024px) {
		display: block;
	}


	&__descr {
		font-family: 'hel';
		font-size: 20px;
		margin-bottom: 20px;
		line-height: 1.6;

		&_sl {
			padding: 0px 25px 0px 25px;
			line-height: none;
			margin-bottom: 0px;
			font-size: 10px;


		}
	}

	&__row {
		display: flex;

		@media (max-width:1024px) {
			flex-direction: column;
		}
	}

	&__column {
		padding-bottom: 10px;
		flex: 0 1 50%;

		&_big {
			flex: 0 1 50%;
		}
	}

	&__item {
		position: relative;
		padding: 0px 0px 50% 0px;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;

		&:hover {
			-webkit-transform: scale(1.02);
			-moz-transform: scale(1.02);
			-o-transform: scale(1.02);
		}

	}

	&__tittle {
		font-family: 'hel';
		font-size: 40px;
		text-align: center;
		margin: 30px 0px 20px 0px;


		@media (max-width:1226px) {
			font-size: 25px;
		}

		@media (max-width:1036px) {
			margin: 10px 0px 10px 0px;

		}

		&_big {
			font-family: 'hel';
			text-align: center;
			margin: 50px 0px 20px 0px;
			font-size: 40px;


			@media (max-width:1024px) {
				margin: 10px 0px 10px 0px;

			}

			@media (max-width:1226px) {
				font-size: 25px;
			}
		}
	}



	&__text {
		font-family: 'hel';
		font-size: 15px;
		padding: 0px 25px 0px 25px;
		line-height: 1.6;

		@media (max-width:1226px) {
			font-size: 15px;
		}

		@media (max-width:1024px) {
			margin-bottom: 15px;
		}
	}

	&__num {
		display: flex;
		justify-content: center;


		&_sl {
			flex-direction: column;
		}


	}

	&__block {
		&_sl {
			display: flex;
			align-items: center;

		}
	}


	&__number {
		font-size: 30px;
		text-align: center;
		padding: 0px 0px 0px 0px;
		font-family: 'hel';

		&_sl {
			font-size: 30px;
			padding: 0px 0px 0px 25px;
		}

		&_slt {
			font-size: 30px;
			padding: 0px 0px 0px 15px;
		}

		&_slr {
			font-size: 30px;
			padding: 0px 0px 0px 166px;
		}

		&_slk {
			font-size: 30px;
			padding: 0px 0px 0px 50px;
		}


	}

	&__descr {
		font-size: 30px;
		text-align: center;
		padding: 0px 25px 0px 25px;
		font-family: 'hel';

		&_sl {
			font-size: 30px;
			padding: 0px 0px 0px 25px;

		}

	}

	&__value {
		font-size: 20px;
		text-align: center;
		padding: 0px 0px 0px 0px;
		font-family: 'hel';


		&_sl {
			font-size: 30px;
			padding: 0px 0px 0px 15px;

		}

		&_sln {
			font-size: 30px;
			padding: 0px 0px 0px 10px;
		}
	}

}








//</ОСНОВНОЙ БЛОК>====================================================================================================



.concept {
	color: white;
	padding: 65px 0px 0px 0px;
	position: relative;
	background-color: #0d0d0e;


	&__tittle {
		font-family: 'hel';
		font-size: 36px;
		margin: 0px 0px 10px 10px;
		text-align: center;

		@media (max-width:768px) {
			font-size: 25px;

		}
	}

	&__txt {
		font-family: 'Montserrat';
		font-size: 20px;
		margin: 0px 0px 10px 10px;
		text-align: center;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	&__item {
		width: 500px;
		min-height: 500px;
		box-shadow: 0 0 0px white;
		margin: 20px 30px;
		display: flex;
		flex-direction: column;
		padding: 5px;

		@media (max-width:991px) {
			width: 315px;
		}
	}

	&__scroll {
		z-index: 10000;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 0;
		right: 50%;
		animation: mouse 1.4s infinite linear alternate;
		cursor: pointer;
	}

	@keyframes mouse {
		0% {
			top: 85%;
		}

		50% {
			top: 87%;
		}

		100% {
			top: 89%
		}
	}


	.scroll {

		@media (max-width:1024px) {
			display: none;
		}

		@media (max-width:768px) {
			display: none;
		}

		&__mouse {
			width: 20px;
			height: 20px;

			img {
				width: 100%;

			}
		}

		&__arrow {
			margin: 5px 0px 0px 0px;
			width: 20px;
			height: 20px;
			transform: rotate(-90deg);

			img {
				width: 100%;
			}
		}
	}


}



.item {

	&__img {
		padding: 150px;
		margin: 0px 0px 20px 0px;
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		-webkit-transition: all 1s ease-out;

		&:hover {
			-webkit-transform: scale(1.02);
			-moz-transform: scale(1.02);
			-o-transform: scale(1.02);
		}

		@media (max-width:768px) {
			-moz-transition: none;
			-o-transition: none;
			-webkit-transition: none;

			&:hover {
				-webkit-transform: none;
				-moz-transform: none;
				-o-transform: none;
			}
		}


	}

	&__tittle {
		font-family: 'hel';
		font-size: 20px;
		margin: 0px 0px 10px 10px;

		&_a {
			font-family: 'Montserrat';

		}

	}

	&__descr {
		font-family: 'hel';
		margin: 0px 10px 0px 10px;
		flex: 1 0 auto;
		font-size: 16px;
		letter-spacing: 0.5px;

		&_a {
			font-family: 'Montserrat';


		}

	}

	&__more {
		font-family: 'hel';
		margin: 0px 0px 10px 10px;
		color: #737070;
		text-decoration: underline;
		font-size: 15px;
	}




}





//</ОСНОВНОЙ БЛОК>====================================================================================================




//</ОСНОВНОЙ БЛОК>====================================================================================================


.slider-body {}

.mainslider {
	position: relative;
}

.mainscreen {
	min-height: 100vh;
	position: relative;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}


	&__content {
		color: #ffffff;
		font-size: 20px;
		position: absolute;
		z-index: 1133;
		top: 50%;
		left: 50%;
		font-family: "hel";
		line-height: 2;
		transform: translate(-50%, -50%);

		@media (max-width:768px) {
			font-size: 10px;
		}

		&_txt {
			font-size: 13px;
			width: 1000px;
		}
	}

	&__tittle {
		font-size: 36px;
		text-transform: uppercase;
		text-align: center;
	}

	&__text {
		li {
			list-style: disc;
			font-size: 18px;
			line-height: 1.4;
			margin-top: 20px;
		}

	}

	&__item {
		font-size: 20px;
	}


	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}




.slider {
	position: relative;

	@media (max-width:1024px) {
		display: none;
	}



	&__next {
		width: 30px;
		height: 30px;
		position: absolute;
		z-index: 1;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		right: 15px;

		img {
			width: 100%;
			transform: rotate(180deg);
		}
	}

	&__prev {
		width: 30px;
		height: 30px;
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;

		img {
			width: 100%;
		}
	}
}




.slidertwo {
	@media (min-width:768px) {
		display: block;
	}

	&__item {
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
			height: 100%;

		}
	}
}


.pageup {
	display: block;
	position: fixed;
	width: 30px;
	height: 30px;
	bottom: 40px;
	right: 40px;
	z-index: 100000;
	animation: up 1.4s infinite linear alternate;

	@keyframes up {
		0% {
			top: 85%;
		}

		50% {
			top: 87%;
		}

		100% {
			top: 89%
		}
	}




	@media (max-width:768px) {
		display: none;
	}



	img {
		color: #fff;

		@media (max-width:768px) {
			display: none;
		}

		width: 100%
	}

}


.icon-upload-2 {
	color: white;
	font-size: 30px;
	cursor: pointer;
}




//</ОСНОВНОЙ БЛОК>====================================================================================================



.why {
	background-color: #0d0d0e;
	padding: 65px 0px 20px 0px;
	min-height: 600px;

	&__tittle {
		font-family: 'hel';
		font-size: 36px;
		text-align: center;
		color: white;
		margin-bottom: 20px;
		text-transform: uppercase;

		@media (max-width:768px) {
			font-size: 25px;

		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, minmax(48%, 50%));
		grid-template-rows: repeat(2, minmax(100px, auto));
		gap: 30px;
		grid-auto-rows: 100px;

		@media (max-width:767px) {
			grid-template-columns: minmax(100px, auto);
			grid-template-rows: minmax(150px, auto);


		}

	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width:767px) {
			flex-direction: column;


		}
	}
}

.container {}

.item-why {

	&__icon {
		margin-right: 15px;

		@media (max-width:767px) {
			margin-bottom: 10px;
		}
	}

	&__text {
		color: white;
		font-family: "hel";
		text-align: justify;

		@media (max-width:767px) {
			text-align: center;
		}

	}
}






//</ОСНОВНОЙ БЛОК>====================================================================================================